.game-board {
  width: 702px;
  height: 600px;
  background-color: black;
  margin: 5px auto;
  position: relative;
}
.pac-man {
  width: 22px;
  height: 22px;
  background-color: yellow;
  position: absolute;
  left: 338px;
  top: 416px;
  border-radius: 50%;
}
.box {
  box-sizing: border-box;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: top;
}
