.game-board {
  width: 702px;
  height: 600px;
  background-color: black;
  margin: 5px auto;
  position: relative;
}

.pac-man {
  width: 30px;
  height: 30px;
  background-color: gray;
  position: absolute;
  left: 0px;
  top: 0px;
}
.box {
  box-sizing: border-box;
  display: inline-block;
  color: white;
  text-align: center;
}
